{% load static %}

<!doctype html>
<html lang="zxx">
<head>
  {% include 'TZ/head.html' %}

  <!-- CSS here -->
      {% include 'TZ/CSS.html' %}
</head>

<body>
  <header>
    <!-- Header Start -->
    {% include 'TZ/HeaderStart.html' %}
    <!-- Header End -->
  </header>
  <main>
      <!-- Hero Area Start-->
      <div class="slider-area ">
          <div class="single-slider slider-height2 d-flex align-items-center">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="hero-cap text-center">
                              <h2>Cart List</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--================Cart Area =================-->
      <section class="cart_area section_padding">
        <div class="container">
          <div class="cart_inner">
            <div class="table-responsive">
              <table class="table">
                
                <tbody>
                  
                  <h2>Your Cart</h2>
                  <table>
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Subtotal</th>
                      <th>Action</th>
                    </tr>
                    {% for id, item in cart.items %}
                    <tr>
                      <td>{{ item.productName }}</td>
                      <td>{{ item.quantity }}</td>
                      <td>${{ item.price }}</td>
                      <td>${{ item.quantity|floatformat:2|add:item.price|floatformat:2 }}</td>
                      <td><a href="{% url 'remove_from_cart' id %}">Remove</a></td>
                    </tr>
                    {% endfor %}
                  </table>
                  <h3>Total: ${{ total_price }}</h3>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <h5>Subtotal</h5>
                    </td>
                    <td>
                      <h5>$2160.00</h5>
                    </td>
                  </tr>
                  <tr class="shipping_area">
                    <td></td>
                    <td></td>
                    <td>
                      <h5>Shipping</h5>
                    </td>
                  
                  </tr>
                </tbody>
              </table>
              <div class="checkout_btn_inner float-right">
                <a class="btn_1" href="{% url 'ShopTZ' %}">Continue Shopping</a>
                <a class="btn_1 checkout_btn_1" href="{% url 'CheckoutTZ' %}">Proceed to checkout</a>
              </div>
            </div>
          </div>
      </section>
      <!--================End Cart Area =================-->
  </main>>
  <footer>
      <!-- Footer Start-->
      {% include 'TZ/FooterStart.html' %}
      <!-- Footer End-->
  </footer>
  <!--? Search model Begin -->
  {% include 'TZ/SearchModelBegin.html' %}
  <!-- Search model end -->

  <!-- JS here -->

  {% include 'TZ/JShere.html' %}

</body>
</html>