{% load static %}


<!doctype html>
<html class="no-js" lang="zxx">
<head>
    {% include 'TZ/head.html' %}

    <!-- CSS here -->
    {% include 'TZ/CSS.html' %}
</head>
<style>
    .popular-scroll {
        display: flex;
        overflow-x: auto;
        gap: 20px;
        padding-bottom: 10px;
        scroll-snap-type: x mandatory;
    }

    .popular-scroll > div {
        scroll-snap-align: start;
        min-width: 250px;
        flex-shrink: 0;
    }
</style>

<body>
    <!--? Preloader Start -->

    {% include 'TZ/PreloaderStart.html' %}

    <!-- Preloader End -->

    <header>
        <!-- Header Start -->
       {% include 'TZ/HeaderStart.html' %}
        <!-- Header End -->
    </header>

    <main>
        <!--? slider Area Start -->
        {% include 'TZ/SliderAreaStart.html' %}
        <!-- slider Area End-->

        <!-- ? New Product Start -->
        {% include 'TZ/NewProductStart.html' %}
        <!--  New Product End -->

       <!--? Popular Items Start --> 
        {% include 'TZ/PopularItemsStart.html' %}
        <!--? Popular Items E <!nd -->

        <!--? Shop Method Start-->
        {% include 'TZ/ShopMethodStart.html' %}
        <!-- Shop Method End-->
    </main>
    <footer>
        <!-- Footer Start-->
        {% include 'TZ/FooterStart.html' %}
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    {% include 'TZ/SearchModelBegin.html' %}
    <!-- Search model end -->

    <!-- JS here -->

    {% include 'TZ/JShere.html' %}
    
</body>
</html>