{% load static %}


<!doctype html>
<html class="no-js" lang="zxx">
<head>
    {% include 'TZ/head.html' %}

    <!-- CSS here -->
    {% include 'TZ/CSS.html' %}
</head>

<body>
    <!--? Preloader Start -->

    {% include 'TZ/PreloaderStart.html' %}

    <!-- Preloader End -->

    <header>
        <!-- Header Start -->
       {% include 'TZ/HeaderStart.html' %}
        <!-- Header End -->
    </header>

    <main>
        <!--? slider Area Start -->
        {% include 'TZ/SliderAreaStart.html' %}
        <!-- slider Area End-->

        <!-- ? New Product Start -->
        {% include 'TZ/NewProductStart.html' %}
        <!--  New Product End -->

        <!--? Gallery Area Start -->
        
        <!-- Gallery Area End -->

        <!--? Popular Items Start --> 
        {% include 'TZ/PopularItemsStart.html' %}
        <!--? Popular Items End -->

        <!--? Video Area Start 
        <div class="video-area">
            <div class="video-area">
            <div class="container-fluid">
                <iframe 
                    src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Famoreshimmeroil%2Fvideos%2F1821015465463015%2F&show_text=false&width=267&t=0" 
                    width="560" 
                    height="315" 
                    style="border:none;overflow:hidden" 
                    scrolling="no" 
                    frameborder="0" 
                    allowfullscreen="true" 
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
                </iframe>

                 Arrow 
                <div class="thumb-content-box">
                    <div class="thumb-content">
                        <h3>Next Video</h3>
                        <a href="https://www.youtube.com/watch?v=KMc6DyEJp04"> 
                            <i class="flaticon-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        </div>
        Video Area End -->

        <!--? Watch Choice Start-->
        {% include 'TZ/WatchChoiceStart.html' %}
        <!-- Watch Choice  End-->

        <!--? Shop Method Start-->
        {% include 'TZ/ShopMethodStart.html' %}
        <!-- Shop Method End-->
    </main>
    <footer>
        <!-- Footer Start-->
        {% include 'TZ/FooterStart.html' %}
        <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    {% include 'TZ/SearchModelBegin.html' %}
    <!-- Search model end -->

    <!-- JS here -->

    {% include 'TZ/JShere.html' %}
    
</body>
</html>