{% load static %}

<div class="popular-items section-padding30">
    <div class="container">
        <!-- Section tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-70 text-center">
                    <h2>Popular Items</h2>
                    <p>{{ product.PopIDescription }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for popular_item in popular_items %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="single-popular-items mb-50 text-center">
                    <div class="popular-img">
                        <img src="{{ popular_item.PopIImage.url }}" alt="{{ popular_item.PopIName }}">
                        <div class="img-cap">
                            <span>Add to cart</span>
                        </div>
                        <div class="favorit-items">
                            <span class="flaticon-heart"></span>
                        </div>
                    </div>
                    <div class="popular-caption">
                        <h3><a href="{% url 'ProDetailTZ' %}">{{ popular_item.PopIName }}</a></h3>
                        <span>$ {{ popular_item.PopIPrice }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="room-btn pt-70">
                <a href="{% url 'ShopTZ' %}" class="btn view-btn1">View More Products</a>
            </div>
        </div>
    </div>
</div>